*, *::before, *::after {
    box-sizing: border-box;  
}

html {
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", system-ui;
}

/* site layout */
body {
  max-width: 664px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: 2em 1em 1fr 1em 2em;
  grid-template-areas:
    ".... .... .... .... ...."
    ".... head head head ...."
    ".... .... main .... ...."
    ;
  gap: 2em 0;
}

.site-header {
  grid-area: head;
}

main {
  grid-area: main;
}

/* Typography */
h1 {
  font-size: 2.45rem;
}

h2 {
  font-size: 1.45rem;
}

h3 {
  font-size: 1.75rem;
}
header {
  font-weight: 400;
}


/* ***************************************** */
/* *************** header ****************** */
/* ***************************************** */

.site-header {
  padding: 2em;
  background-image: url("/public/ferks-guare.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% center;
  color: #fff;
}

.site-header__title,
.site-header__subtitle {
  margin: 0;
}

.site-header__title {
  margin-bottom: .125em;
}

/* ***************************************** */
/* *************** main ****************** */
/* ***************************************** */

main {
  display: grid;
  gap: 2em 0;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* menu-item */
.menu-item__title {
  margin: 0;
  margin-bottom: .5em;
}
.menu-item__ingredients {
  font-size: 1rem;
  color: #8B8B8B;
  margin: 0
}

.menu-item__price {
  font-size: 1.25rem;
  margin-top: .5em;
}

.menu-item__add-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  border: 1.5px solid #DEDEDE
}

.divider {
  border-bottom: 1px solid #D2D2D2;
  grid-column: 1 / -1;
}