*, *::before, *::after {
    box-sizing: border-box;  
}

html {
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", system-ui;
}

/* site layout */
body {
  max-width: 664px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: 2em 1em 1fr 1em 2em;
  grid-template-areas:
    ".... .... .... .... ...."
    ".... head head head ...."
    ".... .... main .... ...."
    ;
  gap: 2em 0;
}

.site-header {
  grid-area: head;
}

main {
  grid-area: main;
}

/* Typography */
h1 {
  font-size: 2.45rem;
}

h2 {
  font-size: 1.45rem;
}

header {
  font-weight: 400;
  color: #fff;
}

/* ***************************************** */
/* *************** header ****************** */
/* ***************************************** */

.site-header {
  padding: 2em;
  background-image: url("/public/ferks-guare.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% center;
}

.site-header__title,
.site-header__subtitle {
  margin: 0;
}

.site-header__title {
  margin-bottom: .125em;
}

